.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
  margin: auto;
}

.logoo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logo_img {
  height: 2.5rem;
}

.logo_text {
  padding-top: 0rem;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0em;
}
.heading {
  font-size: 2rem;
  font-weight: 470;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 600;
}

.form {
  background-color: #ffffff;
  border: 0.1875rem solid #d9d9d9;
  border-radius: 1.45rem;
  width: 35vw;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 1rem;
  margin-top: 7rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 1rem;
}

.login label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  margin-bottom: 0.25rem;
}

.login input {
  width: 28rem;
  padding: 0.8rem;
  height: 1.25rem;
  border-radius: 0.6894rem;
  font-family: Open Sans;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  border: 1.38px solid #d0d0d0;
  margin-bottom: 0.5rem;
}

.centered_text {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.line {
  width: 14vw;
  border: 1px solid #bdbdbd;
}

.text {
  padding: 0 10px;
}

.continue_btn {
  color: #fff;
  background-color: #2e0052;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin-top: 1rem;
  width: 30rem;
  cursor: pointer;
}

.btn {
  width: 38.5vw;
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  text-align: center;
  margin-top: 2rem;
  min-width: 20rem;
  border: #828282 1px solid;
  cursor: pointer;
}

.singnup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
}

.logoo {
  position: fixed;
  top: 0rem;
}
