.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  margin-left: 2rem;
  cursor: pointer;
}

.logo a {
  color: #000000;
  text-decoration: none;
}
