.container {
  display: flex;
  background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
  margin: 4rem 6rem;
  top: 9rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 1rem;
  max-height: 14rem;
  border-radius: 30px;
}
.Text {
  font-family: Roboto;
  font-size: 4rem;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #2e0052;
  margin: 3rem;
}
.girl_img {
  height: 18rem;
  margin-bottom: 4rem;
}
