.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 4rem;
}

.subContainer {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.types {
  display: flex;
  gap: 1rem;
}

.types > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.filterby {
  display: flex;
  gap: 1rem;
}

.filterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  width: 10rem;
  height: 2rem;
  border-radius: 2.1344rem;
  background: #d9d9d9;
  color: black;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 27.45px;
  text-align: center;
  cursor: pointer;
}

.SortBtn {
  width: 18.4375rem;
  height: 3.25rem;
  top: 14.9375rem;
  left: 82.25rem;
  gap: 0rem;
  border-radius: 1.9206rem;
  border: 0.1875rem 0rem 0rem 0rem;
  opacity: 0rem;
  width: 10.9375rem;
  height: 1.625rem;
  gap: 0rem;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.645rem;
  text-align: center;
  opacity: 0rem;
}
